*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }
    body{
        background-clip:;
        height: 100vh;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .logo img{
        color: #fff;
        z-index: 100;
        margin-right: 3vw;
    width: 7vw;
    margin-left: 30px;
    margin-top: 15px;
    width: 70%;
    margin-right: 0;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    header{
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    /* justify-content: space-between;
    align-items: center;
    justify-content: space-between; */
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 5%,transparent);
    }
    header .logo{
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
    }
    .first-header{
        margin-right: 60%;
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-top: 30px;
font-weight: 400;
    }
    header ul li {
       
    }
    header ul li a{
    padding: 6px 15px;
    border-radius: 10px;
    font-size: 20px;
    }
    header ul li a:hover,.active{
    background: #fff;
    color: #200016;
    }
    #video_background {

position: relative;

bottom: 0px;

right: 0px;

height: 100%;
width: 100%;

z-index: -1000;

overflow: hidden;
background-color: #000

}

.main{

/* height: 1000px; */


}
 .word-img{
    margin-left: 4vw;
    position: absolute;
    top: 25%;
    width: 35%;
    z-index: 99;
    color: #fff;
   
}

    .word-img h3{
font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100%;
    }
    .word-img h2{
        font-size: 3vw;
    font-weight: 700;
    width: -webkit-max-content;
    width: 100vh;

    }
    .img-smile{
        border-radius: 5px;
        width: 2vw;
    
    }
    .content-btn{
        
        cursor: pointer;
       
        font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1.3vw;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 1px;
        margin-top: 50px;
      
    }
    .play-btn{
background-color: #fff;
color: #200016;
border-radius: 4px; 
 padding:10px 50px;
 margin-right: 30px;
 
    }
    .play-btn i{
        margin-right: 10px;

    }
    .info-btn{
background-color: rgb(100, 98, 98);
color:#fff;
border-radius: 4px; 
 padding:10px 50px;
 margin-right: 30px;
        
    }
/*đây là body nội dung
dưdáda
das
*/
.sub-content{
    background-color: #000;
    bottom: 0px;
top: 0;
right: 0px;
}
.sub-content .photo{
    padding-left: 4vw;
    position: relative;
    top: -15vw;
    /* z-index: 9; */
    display: inline-flex;
    gap: 0.5vw;
 
    margin-top:20vh;
    position: relative;
 background-color: #000;
    width: fit-content;
}
.sub-content h5{
    font-size: 1.3vw;
    letter-spacing: .8px;
z-index: 100;
color: #fff;
position: absolute;
top: 68%;
padding-left: 4vw;
}
.sub-photo{
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 18px 7px rgb(0 0 0 / 60%);
  padding-left: 7px;
    overflow: hidden;
    width: 11vw;
  background-color: #000;
    transition: 0.5s;
}
.photo .sub-photo:hover{

    opacity:0.2;
}
.sub-photo:hover{
   
    transform: translateY(-20px);
cursor: pointer;
opacity: 1;

     



}
.footer{
    color: rgb(107, 107, 107);
   height: 1vh;
   padding-top: 0;
   padding: 0  25vh 25vh 25vh;
}
.footer-word{
font-size: 25px;
display: flex;
justify-content: center;
justify-content: space-around;
}
.footer-icon{
margin-left: 50px;
font-size: 35px;
margin-bottom: 20px;

color: #fff;
}
.footer-icon a{
padding-left: 35px;
}
